<footer class="main">
    <ul>
        <li class="nav-docs"><a href="#about">Sobre</a></li>
        <li class="nav-spark"><a href="#products">Produtos</a></li>
        <li class="nav-lumen"><a href="#contact">Contato</a></li>
    </ul>
    <p>Copyright © Security Key</p>
    <p class="less-significant"><a href="rodrigo.mady@gmail.com" target="_blank">Design by Rodrigo Mady</a></p>
</footer>