/*********************Mohave********************/
@font-face {
    font-family: 'Mohave';
    src: url('../fonts/Mohave.otf') format('opentype'),
    url('../fonts/Mohave-Bold Italics.otf') format('opentype'),
    url('../fonts/Mohave-Bold.otf') format('opentype'),
    url('../fonts/Mohave-SemiBold Italics.otf') format('opentype'),
    url('../fonts/Mohave-SemiBold.otf') format('opentype');
}

/***********body*************/
body {
    color: #525252;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6em;
    background: #E8E7FF url("/pix/cloud-bar.png") repeat-x;
    padding-top: 10px;

}

body #products div {
    background: #E8E7FF;
}

body #bg-key img {
    max-width: 60%;
    margin: 0 auto;
    border-radius: 10%;
}

a {
    color: #f4645f;
    text-decoration: none;
}

footer.main {
    background: #fafafa;
    padding: 35px 20px;
    text-align: center;
    display: block;
}

footer.main > ul {
    list-style: none;
    margin: 25px auto 35px;
}

footer.main > ul > li {
    display: inline-block;
    margin: 0 18px;
}

footer.main > ul > li > a {
    font-size: 16px;
    color: #525252;
}

footer.main > ul > li > a:hover {
    color: #f4645f;
    text-decoration: none;
}

#key-content .content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 5%;
    text-align: center;
}

.panel.statement h1 {
    font-size: 56px;
}

#key-content h2 {
    font-size: 2.2em;
    margin: 0.67em 0;
}

#key-content h2 {
    font-family: 'Open Sans', sans-serif;
    color: #081839;
    font-weight: 200;
    text-align: center;
}

#key-content h3 {
    font-size: 1.5em;
    margin: 0.67em 0;
}

#key-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-align: center;
}

h1, h2, h3, h4 {
    -webkit-font-smoothing: antialiased;
}

/****************nav***********************/
.navbar.navbar-static-top.bs-docs-nav {
    padding: 0 60px;
    display: table;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #dee0df;
    background-color: #FBFBFF;
}

.navbar-inverse {
    background-color: #FBFBFF;
    border-color: #387DA1;

}

.navbar-inverse .navbar-nav > li > a {
    color: #081839;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #387DA1;
}

.navbar-header .navbar-brand {
    position: relative;
    top: 10px;
    color: #0b0a4a;
    font-size: 2em;
    font-family: 'Mohave';
    font-weight: 700;
}

.navbar-header .navbar-brand:hover{
    color: #081839;
}

.navbar-header .navbar-brand:focus{
    color: rgba(0, 0, 0, 0.64);
}

.navbar #navbar {
    margin-right: 7%;
}