<br clear="both">
<div id="about">
    <div class="col-md-2"></div>
    <div id="about-content" class="col-md-8">
        <h2 class="title">Sobre</h2>
        <h3 class="subtitle">A Security Key</h3>
        <div class="content">
            <p>Com o objetivo de oferecer ao mercado soluções rápidas e seguras, surge no mercado a Security Key,
                empresa especializada em certificação digital.</p>
            <p>A Security Key está pronta para atender suas necessidades com rapidez, agilidade e segurança.
                Conta como uma equipe treinada para prestar consultoria na escolha da melhor solução para
                você e sua empresa.</p>
            <p>A presente proposta tem por objeto apresentar, em caráter estimativo, as condições para a prestação
                de serviços de emissão de certificados digitais do tipo A1 e A3 emitidos sob a hierarquia da ICP-Brasil.</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>