div.fundoTitulo100 div.boxTitulo div.boxOP{
	float:right; background:url(../imagens/layout/bg_op.jpg) no-repeat 0 0;
	width:100px; height:28px; margin-right:10px;
}
div.boxTitulo div.boxOP ul.op{
	width:100px; padding:6px 0 0 25px;
}
div.boxTitulo div.boxOP ul.op li{
	float:left; display:inline; margin-right:5px;
	position:relative;
}
div.boxTitulo div.boxOP ul.op li a.bt_ampliaF{
	background:url(../imagens/botao/bt_ampliaF.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:18px; height:17px;
}
div.boxTitulo div.boxOP ul.op li a.bt_reduzF{
	background:url(../imagens/botao/bt_reduzF.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em;	width:18px; height:17px;
}
div.boxTitulo div.boxOP ul.op li a.bt_perfil{
	background:url(../imagens/botao/bt_perfil.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:23px; height:17px;
}
div.boxTitulo div.boxOP ul.op li a.bt_download{
	background:url(../imagens/botao/bt_download.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:18px; height:17px;
}
div.contCentral ul.listaCertificado{
	clear:both; width:960px; padding:0 0 20px;
}
div.contCentral ul.listaCertificado li{
	clear:both; background:url(../imagens/layout/separador_x.jpg) repeat-x 0 0;
	overflow:hidden; padding:16px 0;
}
div.contCentral ul.listaCertificado li div.boxImgProd{
	width:228px; text-align:center;
	border:1px solid #dfe8e8;
	float:left; margin-right:30px;
}
div.contCentral ul.listaCertificado li div.boxDescProd{
	width:350px; padding:4px 10px;
	float:left; margin-right:20px;
}
div.contCentral ul.listaCertificado li div.boxDescProd h3,
div.contCentral ul.listaCertificado li div.boxDescProd h3 a{
	font:18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#047994;
	margin:10px 0 10px; line-height:18px;
}
ul.listaCertificado li div.boxDescProd p{
	font:11px Tahoma, Geneva, sans-serif; color:#7c7a7a;
	margin:0 0 10px; line-height:11px;
}
div.contCentral ul.listaCertificado li div.boxPreco{
	width:150px; padding:15px 10px;
	float:left; margin-right:10px;
}
ul.listaCertificado li div.boxPreco p.preco{
	width:120px; float:left;
	font:12px Tahoma, Geneva, sans-serif; color:#047994;
}
div.boxPreco p.preco span.pValor{
	font:bold 16px Tahoma, Geneva, sans-serif; color:#047994;
}
div.contCentral ul.listaCertificado li div.box_bt{
	width:130px; padding:4px 0;
	float:left;
}
ul.listaCertificado li div.box_bt a.bt_comprarHome{
	font:12px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
	width:82px; height:14px; background:#61162d; display:block; float:right;
	text-align:center; padding:10px 0; margin:20px 0 0; text-transform:uppercase;
}
div.contCentral div.linha_bt{
	clear:both; width:100%; margin:0 0 15px;
}
div.contCentral div.linha_bt a.bt_comparar {
	font:12px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
	width:82px; height:14px; background:#047994; display:block;
	text-align:center; padding:8px 10px; margin:20px 0 0; text-transform:uppercase;
}
div.wrapperCentral div.contCentral h4.title_listar {
	font:bold 11px 'UniversLTStd65Bold', Tahoma, Geneva, sans-serif; color:#047994; text-transform:uppercase;
	margin:0; padding:5px 0 8px; float:left; width:100%;
}
div.wrapperCentral div.contCentral h4.title_listar span {
	color:#0a4166;
}
div.contCentral ul.listaCompara{
	clear:both; width:960px; padding:0 0 6px;
	background:url(../imagens/layout/separador_x.jpg) repeat-x 0 bottom;
}
div.contCentral ul.listaCompara li{
	clear:both; background:url(../imagens/layout/separador_x.jpg) repeat-x 0 0;
	overflow:hidden; padding:16px 0;
}
div.contCentral ul.listaCompara li div.boxImgProd{
	width:201px; height:72px; text-align:center;
	border:1px solid #dfe8e8;
	float:left; margin-right:30px;
}
div.contCentral ul.listaCompara li div.boxDescProd{
	width:377px; padding:4px 10px;
	float:left; margin-right:20px;
}
div.contCentral ul.listaCompara li div.boxDescProd h3,
div.contCentral ul.listaCompara li div.boxDescProd h3 a{
	font:18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4166;
	margin:10px 0 3px; line-height:18px;
}
div.contCentral ul.listaCompara li div.boxDescProd h3 span,
div.contCentral ul.listaCompara li div.boxDescProd h3 a span{
	font:14px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif;
}
ul.listaCompara li div.boxDescProd p{
	font:11px Tahoma, Geneva, sans-serif; color:#7c7a7a;
	margin:0 0 10px; line-height:11px;
}
div.contCentral ul.listaCompara li div.boxPreco{
	width:126px; padding:15px 10px;
	float:left; margin-right:10px;
}
ul.listaCompara li div.boxPreco p.preco{
	width:140px; float:left;
	font:12px Tahoma, Geneva, sans-serif; color:#047994;
}
div.boxPreco p.preco span.pValor{
	font:bold 16px Tahoma, Geneva, sans-serif; color:#047994;
}
div.contCentral ul.listaCompara li div.box_bt{
	width:130px; padding:4px 0;
	float:left;
}
ul.listaCompara li div.box_bt a.bt_comprarHome{
	font:12px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
	width:82px; height:14px; background:#61162d; display:block; float:right;
	text-align:center; padding:10px 0; margin:20px 0 0; text-transform:uppercase;
}
div.box_bt a.bt_comprarHome{
	font:12px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
	width:82px; height:14px; background:#61162d; display:block; float:right;
	text-align:center; padding:10px 0; margin:20px 0 0; text-transform:uppercase;
}
div.contCentral ul.listaCompara li div.boxSelect{
	width:24px; float:left; padding: 38px 0 0;
}

div.contCentral div.boxOP{
	float:right; background:url(../imagens/layout/bg_op.jpg) no-repeat 0 0;
	width:132px; height:28px; margin-right:10px; clear:both; overflow:hidden;
}
div.contCentral div.boxOP ul.op{
	width:100px; padding:6px 0 0 25px; overflow:hidden;
}
div.contCentral div.boxOP ul.op li{
	float:left; display:inline; margin-right:5px;
}
div.contCentral div.boxOP ul.op li a.bt_ampliaF{
	background:url(../imagens/botao/bt_ampliaF.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:18px; height:17px;
}
div.contCentral div.boxOP ul.op li a.bt_reduzF{
	background:url(../imagens/botao/bt_reduzF.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em;	width:18px; height:17px;
}
div.contCentral div.boxOP ul.op li a.bt_perfil{
	background:url(../imagens/botao/bt_perfil.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:23px; height:17px;
}
div.contCentral div.boxOP ul.op li a.bt_download{
	background:url(../imagens/botao/bt_download.jpg) no-repeat 0 0;
	display:block; text-indent:-5000em; width:18px; height:17px;
}

div.contCentral div.boxImgC{
	clear:both; margin-bottom:-12px;
}
div.contCentral ul.mcd{
	clear:both; overflow:hidden;
	width:940px; margin:0 auto 20px;
}
div.contCentral ul.mcd li{
	background:url(../imagens/layout/separador_x.jpg) repeat-x 0 0;
	clear:both; padding:12px 0; overflow:hidden;
}
div.contCentral ul.mcd li div.boxImg{
	width:250px; float:left;
}
div.contCentral ul.mcd li div.boxDesc{
	width:550px; float:left; padding:0 20px;
}
ul.mcd li div.boxDesc h3{
	font:14px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#1b859e;
}
ul.mcd li div.boxDesc h3 span{
	font-size:18px; color:#0a4166;
}
ul.mcd li div.boxDesc p{
	font:11px Tahoma, Geneva, sans-serif; color:#7c7a7a;
}
div.contCentral ul.mcd li div.box_bt{
	width:100px; padding:4px 0;
	float:left;
}
div.contCentral ul.mcd li div.box_bt a.bt_comprarHome{
	font:12px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
	width:82px; height:14px; background:#61162d; display:block; float:right;
	text-align:center; padding:10px 0; margin:20px 0 0; text-transform:uppercase;
}
div.contCentral div.rBusca{
	background:#f2f2f2; clear:both;
	padding:6px 10px; overflow:hidden; margin-bottom:6px;
}
div.contCentral div.rBusca h4{
	text-transform:uppercase; margin:0!important; float:left; display:block;
	font:11px 'Univers57CondensedRegular', Tahoma, Geneva, sans-serif; color:#047994;
}
div.contCentral div.rBusca h4 span{
	color:#0a4166;
}
div.contCentral div.rBusca a.ocorrencias{
	float:right; font:12px 'Univers57CondensedRegular', Tahoma, Geneva, sans-serif; color:#047994;
	text-transform:uppercase; cursor:pointer;
}
div.contCentral div.rBusca a.ocorrenciasAct{
	float:right; font:12px 'Univers57CondensedRegular', Tahoma, Geneva, sans-serif; color:#5b5b5b;
	text-transform:uppercase; cursor:pointer;
}

div.contCentral ul.atendimento{
	clear:both; width:960px; margin:0 auto;
	overflow:hidden; padding-bottom:30px;
}
div.contCentral ul.atendimento li{
	float:left; display:inline; width:190px; padding:20px;
	background:#f6f6f6; height:250px; margin:0 10px 0 0;
}
div.contCentral ul.atendimento li h3{
	font:20px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; margin-bottom:10px;
}
div.contCentral ul.atendimento li h3.pedidos{
	background:url(../imagens/icones/ico_pedidos.gif) no-repeat 0 0;
	width:26px; height:23px; display:block; padding-left:30px;
	font:20px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase;
}
div.contCentral ul.atendimento li h3.cadastro{
	background:url(../imagens/icones/ico_cadastro.gif) no-repeat 0 0;
	width:26px; height:23px; display:block; padding-left:30px;
	font:20px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase;
}
div.contCentral ul.atendimento li h3.ajuda{
	background:url(../imagens/icones/ico_ajuda.gif) no-repeat 0 0;
	width:26px; height:23px; display:block; padding-left:30px;
	font:20px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase;
}
div.contCentral ul.atendimento li a{
	font:13px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#1b859e;
	display:block; margin-bottom:10px; line-height:13px;
}
div.contCentral ul.atendimento li.last{
	float:left; display:inline; width:190px; padding:20px;
	background:#d9d9d9; height:250px; margin:0!important;
}
div.contCentral ul.atendimento li.last a.chat{
	background:url(../imagens/icones/ico_chat.gif) no-repeat 0 0;
	height:24px; padding-left:30px; font-weight:bold;
	font:14px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; display:block; margin-bottom:10px; line-height:24px;
}
div.contCentral ul.atendimento li.last a.faleConosco{
	background:url(../imagens/icones/ico_contato.gif) no-repeat 0 4px;
	height:24px; padding-left:30px; font-weight:bold;
	font:14px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; display:block; margin-bottom:10px; line-height:24px;
}
div.contCentral ul.atendimento li.last a.contato{
	background:url(../imagens/icones/ico_contato.gif) no-repeat 0 4px;
	height:24px; padding-left:30px; font-weight:bold;
	font:14px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; display:block; margin-bottom:10px; line-height:24px;
}
div.contCentral ul.atendimento li.last p.sac{
	background:url(../imagens/icones/ico_sac.gif) no-repeat 0 center;
	padding-left:30px;
	font:13px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; display:block; margin-bottom:10px; line-height:14px;
}
div.contCentral ul.atendimento li.last p.sac span{
	font:10px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
	text-transform:uppercase; display:block; margin-bottom:10px; line-height:14px;
}


div.siteMap{
	width:940px; clear:both; padding:10px;
	font:Tahoma, 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#0a4066;
}
div.siteMap a.lkHome{
	clear:both; display:block; font-size:16px;
}
div.siteMap div.sml,
div.siteMap div.smr{
	float:left; width:470px;
}
div.siteMap div.sml ul.n1,
div.siteMap div.smr ul.n1{
	margin:0 0 0 8px; font-size:14px; line-height:16px;
	text-transform:uppercase;
}
div.siteMap div.sml ul.n1 li,
div.siteMap div.smr ul.n1 li{
	padding:4px 0 0;
}
div.siteMap div.sml ul.n1 li ul.n2,
div.siteMap div.smr ul.n1 li ul.n2{
	margin:0 0 0 8px; font-size:11px;
}
div.siteMap div.sml ul.n1 li ul.n2 li,
div.siteMap div.smr ul.n1 li ul.n2 li{
	padding:0;
}
div.siteMap div.sml ul.n1 li ul.n2 li ul.n3,
div.siteMap div.sml ul.nr li ul.n2 li ul.n3{
	margin:0 0 0 8px; font-size:11px;
}