@import "../font/font.css";
*{margin:0; padding:0; list-style:none; text-decoration:none;}
img{border:none;}
input, textarea{outline:none; border:none;}
.box960{width: 960px; display: table; margin: 0 auto; position:relative;}

.wrapperTop{
  width:100%; height:177px;
  }
  .wrapperTop .top{
    width: 100%; height: 30px;
    font:10px/30px Tahoma, Geneva, sans-serif; color:#097a96;
    }
    .wrapperTop .top a{
       color:#097a96;
      }
      .wrapperTop .top a:hover{
        color: #61132d;
        background-position: 0 bottom;
        }
    .wrapperTop .top .slogan{
      float: left;
      }
    .wrapperTop .top .alignRight{
      float: right; line-height: 14px; padding-top: 8px;
      }
      .wrapperTop .top .btChat{
        padding-left: 17px; height: 14px; float: left;
        background: url(../imagens/icones/ico_chat.png) no-repeat left top;
        }
      .wrapperTop .top .alignRight p{
        padding-left: 5px; margin-left: 5px; border-left: 2px solid #8fb6c4; float: left; line-height: 12px; margin-top: 1px;
        }
      .wrapperTop .top .network{
        float: right;
        }
        .wrapperTop .top .network li{
          float: left; margin-left: 11px; margin-top: -3px;
          }
          .wrapperTop .top .network li + li{
            margin-left: 5px;
            }
          .wrapperTop .top .network li a{
            width: 20px; height: 20px; display: block; text-indent: -5000em;
            background: url(../imagens/icones/ico_network.png) no-repeat 0 0;
            }
            .wrapperTop .top .network li a.ico_fb{
              background-position: 0 0;
              }
            .wrapperTop .top .network li a.ico_tw{
              background-position: -25px 0;
              }
            .wrapperTop .top .network li a.ico_bl{
              background-position: -50px 0;
              }
              .wrapperTop .top .network li a.ico_fb:hover{
                background-position: 0 bottom;
                }
              .wrapperTop .top .network li a.ico_tw:hover{
                background-position: -25px bottom;
                }
              .wrapperTop .top .network li a.ico_bl:hover{
                background-position: -50px bottom;
                }

  .wrapperTop .mainHeader{
    width: 100%; height: 100px; background: #097a96;
    }
    .wrapperTop .mainHeader .logo{
      width: 182px; height: 51px; margin-top: 26px; float: left;
      background: url(../imagens/layout/logo.png) no-repeat 0 0;
      }
      .wrapperTop .mainHeader .logo a{
        display: block; text-indent: -5000em; width: 100%; height: 100%;
        }
    .wrapperTop .mainHeader .navServicos{
      float: right; margin-top: 20px;  min-width: 536px;
      }
      .wrapperTop .mainHeader .navServicos li{
        float: left; margin-left: 32px; position: relative;
        }
        .wrapperTop .mainHeader .navServicos li a{
		  font:10px Tahoma, Geneva, sans-serif; color:#ffffff; padding-top: 37px; display: block; text-align: center;
          background: url(../imagens/icones/ico_servicos.png) no-repeat 0 0;
		  }
          .wrapperTop .mainHeader .navServicos li a:hover{
            text-decoration: underline;
            }
          .wrapperTop .mainHeader .navServicos li.ico_agenda a{
            background-position: 7px 0;
            }
          .wrapperTop .mainHeader .navServicos li.ico_atendimento a{
            background-position: -74px 0;
            }
          .wrapperTop .mainHeader .navServicos li.ico_renovar a{
            background-position: -160px 0;
            }
          .wrapperTop .mainHeader .navServicos li.ico_pedidos a{
            background-position: -248px 0;
            }
          .wrapperTop .mainHeader .navServicos li.ico_compras a{
            background-position: -315px 0;
            }
            .wrapperTop .mainHeader .navServicos li.ico_compras .quantidade{
              position: absolute; width: 15px; height: 15px;
              top: -15px; left: 50%; margin-left: -7.5px;
              background: url(../imagens/layout/bg_quantidade.png) no-repeat 0 0;
              font: 9px/16px Helvetica, sans-serif, Arial; color:#ffffff;
              text-align: center; text-indent: -1px; z-index: 101;
              }
            .wrapperTop .mainHeader .navServicos li.ico_compras .compras{
              position: absolute; left: 50%; margin-left: -48px; top: 100%;
              z-index: 9001; display: none;
              }
              .wrapperTop .mainHeader .navServicos li.ico_compras:hover .compras{
                display: block;
              }
              .wrapperTop .mainHeader .navServicos li.ico_compras .compras .seta{
                width: 13px; height: 8px; position: absolute; top: 0; left: 50%;
                margin-left: -6.5px; background: url(../imagens/layout/seta_carrinho.png) no-repeat 0 0;
              }
              .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar{
                min-width: 96px; background: #ffffff; border: 1px solid #097a96;
                margin-top: 7px;
                }
                .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar p{
                  text-align: center; font:bold 10px Tahoma, Geneva, sans-serif; color:#097a96;
                  }
                  .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar .quant{
                    margin: 3px 0;
                  }
                  .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar .valor{
                    font-size: 14px; line-height: 14px; margin-bottom: 2px;
                    }
                    .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar .valor sup{
                      font-size: 8.5px; vertical-align: top;
                    }
                  .wrapperTop .mainHeader .navServicos li.ico_compras .compras .boxFinalizar .bt_finalizar{
                    width: 90px; height: 18px; text-transform: uppercase;
                    padding-top: 0; background: #61132d; line-height: 18px; text-decoration: none;
                    display: block; margin: 0 auto 2px;
                    }
          .wrapperTop .mainHeader .navServicos li.boxAcesso{
            min-width: 117px; text-align: right; padding-top: 12px;
            font:12px/17px Tahoma, Geneva, sans-serif; color:#ffffff;float:right;
            }
            .wrapperTop .mainHeader .navServicos li.boxAcesso a{
              background: none; font-size: 12px; padding-top: 0; display: inline; text-decoration: underline;
              }

  .wrapperTop .navMain{
    width: 100%; border-bottom: 2px solid #097a96; height: 45px; display: block;
    }
    .wrapperTop .navMain .menu{
      display: table; width: 905px; position: relative; z-index: 9000; padding-right:55px;
      }
      .wrapperTop .navMain .menu li{
        display: table-cell; padding: 0 14px;
        }
        .wrapperTop .navMain .menu li a{
          display: inline-block; margin: 0 auto; position: relative;
          vertical-align: middle;
          font:14px/45px Tahoma, Geneva, sans-serif; color:#097a96;
        }
          .wrapperTop .navMain .menu li.act a,
          .wrapperTop .navMain .menu li:hover a,
          .wrapperTop .navMain .menu li a:hover{
            text-decoration: underline; color: #61132d;
            }
        .wrapperTop .navMain .menu li.bt_home{
          padding: 0;
          }
          .wrapperTop .navMain .menu li.bt_home a{
            width: 47px; height: 45px; text-indent: -5000em; margin: 0;
            background:#e6f1f4 url(../imagens/icones/ico_home.png) no-repeat center 15px;
          }
        .wrapperTop .navMain .menu li.bt_home.act a,
        .wrapperTop .navMain .menu li.bt_home a:hover{
          background:#61132d url(../imagens/icones/ico_home.png) no-repeat center -28px;
        }
      .wrapperTop .navMain .menu li .ico_seta{
        width: 10px; height: 10px; display: inline-block; margin-left: 7px;
        background: url(../imagens/icones/ico_seta_menu.png) no-repeat 0 1px;
        }
        .bt_busca{
          padding: 0; width: 55px; height:45px; position: absolute; right:0; bottom:-64px; z-index:9003;
          }
          .bt_busca .boxBusca{
            height: 45px; width: 55px; overflow: hidden;
            position: absolute; left: 0; top: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            }
            .bt_busca.act .boxBusca{
              left: -858px; padding-left: 47px; width: 866px;
              background: #e6f1f4 url(../imagens/layout/menu_recolhe.jpg) no-repeat 0 0;
              }
            .bt_busca .ico_busca{
              width: 55px; height: 45px; text-indent: -5000em; border: none; float: left;
              background: url(../imagens/icones/ico_busca.png) no-repeat center center;
              }
            .bt_busca input[type="text"]{
              width: 760px; background: none; height: 45px; padding-left: 10px; outline: inherit;
              color:#097a96; font:italic 18px/45px Tahoma, Geneva, sans-serif; display: none;
              }
              .bt_busca.act input[type="text"]{
                display: block;
                }
              .bt_busca input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
                color:#097a96;
                }
              .bt_busca input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#097a96;
                }
              .bt_busca input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#097a96;
                }
              .bt_busca input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
                color:#097a96;
                }
            .bt_busca .bt_fechar{
              width: 55px; height: 45px; text-indent: -5000em; border: none;
              position: absolute; right: 0; top: 0; display: none;
              background: url(../imagens/icones/ico_fechar.png) no-repeat center center;
              }
              .bt_busca.act .bt_fechar{
                display: block;
                }
      .wrapperTop .navMain .menu li .submenu{
        position: absolute; top: 45px; left: 0; display: none; height: 0;
        width:928px; background: #ffffff; border: 1px solid #3a809d; border-bottom-width: 6px; padding: 22px 18px;
        }
        .wrapperTop .navMain .menu li:hover .submenu{
          display: table; height: auto;
          }
        .wrapperTop .navMain .menu .submenu .col{
          /*display: inline-block;*/ width: 223px; vertical-align: top; height: 100%; padding: 0;
          position: relative;
          }
          .wrapperTop .navMain .menu .submenu .col + .col{
            padding-left: 10px; border-left: 1px dotted #bcbcbc;
            }
          .wrapperTop .navMain .menu .submenu .col li{
            display: block; padding: 0; margin-bottom: 17px;
            }
            .wrapperTop .navMain .menu .submenu .col li a{
              text-decoration: underline; line-height: 14px;
              color: #097a96; padding-left: 15px;
              background: url(../imagens/icones/ico_seta_menu.png) no-repeat left -48px;
              }
              .wrapperTop .navMain .menu .submenu .col li a:hover{
                color:#61132d;
                }
              .wrapperTop .navMain .menu .submenu .col li.titulo{
                background: none;
                font: bold 14px/14px Tahoma, Geneva, sans-serif; color: #097a96;
                }
                .wrapperTop .navMain .menu .submenu .col li.titulo a{
                  font-weight: bold; text-decoration: none; padding-left: 0;
                   background: none;
                  }
                .wrapperTop .navMain .menu .submenu .col li.titulo:before{
                  content: "//"; letter-spacing: 0px;
                }
              .wrapperTop .navMain .menu .submenu .col li.destaque{
                position: absolute; bottom: 0; left: 10px;
                }
          .wrapperTop .navMain .menu .submenu .col .boxImg{
            width: 100%; height: 100%; position: relative;
            }
            .wrapperTop .navMain .menu .submenu .col .boxImg img{
              width: 215px; height: 211px; display: block; margin: 0 auto;
              }
            .wrapperTop .navMain .menu .submenu .col .boxImg .bt_img{
              width: 192px; height: 34px; text-align: center; text-transform: uppercase;
              font-size: 12px; line-height: 34px; color: #ffffff; text-decoration: none;
              display: block; background: #61172e; text-indent: 0; position: absolute; bottom: 15px; left: 16px;
              }

	/* -------------------fim wrapperTop------------------ */

.boxBanner{
  width: 100%; height: 500px; position: relative; overflow: hidden;
  }
  .boxBanner .mainBanner{
    width: 960px; height: 500px; display: block;
    position: relative; margin: 0 auto;
    }
    .boxBanner .mainBanner .conteudo{
      position: absolute; left: -50%; top: 0; /*margin-left: 131px;*/
    }
div.wrapperLeft{
	width:50%; float:left;
	}
	div.wrapperLeft div.contLeft{
      width:469px; float:right; margin-right: 11px;
      }
      div.wrapperLeft div.contLeft .links{
        display: inline-block; margin-top: 20px; padding-bottom: 33px;
        }
        div.wrapperLeft div.contLeft .links li{
          float: left;
          }
          div.wrapperLeft div.contLeft .links li + li{
            margin-left: 34px;
            }
          div.wrapperLeft div.contLeft .links li a{
            font:12px Tahoma, Geneva, sans-serif; color:#13829b; 
            padding-top: 58px; display: block; text-align: center;
            background: url(../imagens/icones/ico_links.png) no-repeat 0 0;
            }
            div.wrapperLeft div.contLeft .links li a:hover{
              text-decoration: underline; color:#61172e;
              }
            div.wrapperLeft div.contLeft .links li.ico_agenda a{
              background-position: -91px 0;
              }
              div.wrapperLeft div.contLeft .links li.ico_agenda a:hover{
                background-position: -91px -109px;
                }
            div.wrapperLeft div.contLeft .links li.ico_atendimento a{
              background-position: 20px 0;
              }
              div.wrapperLeft div.contLeft .links li.ico_atendimento a:hover{
                background-position: 20px -109px;
                }
            div.wrapperLeft div.contLeft .links li.ico_indicacoes a{
              background-position: -175px 0;
              }
              div.wrapperLeft div.contLeft .links li.ico_indicacoes a:hover{
                background-position: -175px -109px;
                }
            div.wrapperLeft div.contLeft .links li.ico_download a{
              background-position: -284px 0;
              }
              div.wrapperLeft div.contLeft .links li.ico_download a:hover{
                background-position: -284px -109px;
                }
            div.wrapperLeft div.contLeft .links li.ico_duvida a{
              background-position: -390px 0;
              }
              div.wrapperLeft div.contLeft .links li.ico_duvida a:hover{
                background-position: -390px -109px;
                }
		div.fundoTitulo50{
			width:100%; height:35px; clear:both; margin:0 0 8px;
			background:#e6f1f4;
			}
			div.fundoTitulo50 div.boxTitulo{
				width:480px; margin:0 auto; padding:6px 0; float:right;
				}
				div.fundoTitulo50 div.boxTitulo h2{
					text-transform:uppercase; margin-left:20px;
					font-family: 'UniversLTStd67BoldCondensed'; font-size:21px; color:#047994;
					}
					div.fundoTitulo50 div.boxTitulo h2 span{
						color:#0a4166;
						}
	div.wrapperLeft div.contLeft .linksSaibamais{
      width: 469px; display: block;
      }
      div.wrapperLeft div.contLeft .linksSaibamais li{
        border-top: 1px dotted #bdbdbd; padding: 37px 0; display: table;
        }
        div.wrapperLeft div.contLeft .linksSaibamais li .ico{
          background: url(../imagens/icones/ico_links_saiba.png) no-repeat 0 0;
          width: 57px; height: 53px; display: table-cell; float: left; vertical-align: top;
          margin-left: 8px; margin-right: 15px;
          }
          div.wrapperLeft div.contLeft .linksSaibamais li.testeCert .ico{
            background-position: 0 0;
          }
            div.wrapperLeft div.contLeft .linksSaibamais li.testeCert:hover .ico{
              background-position: -72px 0;
              }
          div.wrapperLeft div.contLeft .linksSaibamais li.renovarCert .ico{
            background-position: 0 -68px;
          }
            div.wrapperLeft div.contLeft .linksSaibamais li.renovarCert:hover .ico{
              background-position: -72px -68px;
              }
          div.wrapperLeft div.contLeft .linksSaibamais li.parceriasCom .ico{
            background-position: 0 -142px;
            }
            div.wrapperLeft div.contLeft .linksSaibamais li.parceriasCom:hover .ico{
              background-position: -72px -142px;
              }
        div.wrapperLeft div.contLeft .linksSaibamais li .texto{
          float: left; width: 292px;
          }
          div.wrapperLeft div.contLeft .linksSaibamais li .texto p{
            color:#000000;
            font:12px Tahoma, Geneva, sans-serif;
            }
            div.wrapperLeft div.contLeft .linksSaibamais li .titulo{
              font:20px/20px Tahoma, Geneva, sans-serif; color: #13829b; text-decoration: underline;
              margin-bottom: 6px; display: block;
              }
              div.wrapperLeft div.contLeft .linksSaibamais li .titulo:hover{
                color: #61172e;
                }
        div.wrapperLeft div.contLeft .linksSaibamais li .btSaibamais{
          font:12px/34px Tahoma, Geneva, sans-serif; color: #ffffff;
          background: #61172e; width: 82px; height: 34px; text-align: center; text-transform: uppercase; vertical-align: top; float: right; margin-left: 15px; margin-top: 31px;
          }
          

/* -------------------fim wrapperLeft------------------ */
div.wrapperRight{
  width:50%; /width:49%; float:right;
  }
  div.wrapperRight div.contRight{
    width:452px; float:left; padding:0 0 0 26px;
    }
    div.wrapperRight div.contRight .boxCinza{
      width: 452px; background: #f2f2f2; margin-bottom: 24px;
      }
      div.wrapperRight div.contRight .boxCinza + .boxCinza{
        margin-bottom: 12px;
      }
      div.wrapperRight div.contRight .boxCinza .boxTitulo{
        width: 100%; height: 60px; display: table; background: #13829b;
        }
        div.wrapperRight div.contRight .boxCinza .boxTitulo.assinatura{
          background:#13829b url(../imagens/layout/img_titulo_assinatura.png) no-repeat right 0;
          }
        div.wrapperRight div.contRight .boxCinza .boxTitulo.servicos{
          background:#13829b url(../imagens/layout/img_titulo_servicos.png) no-repeat right 0;
          }
        div.wrapperRight div.contRight .boxCinza .boxTitulo p{
          font: bold 28px/28px Tahoma, Geneva, sans-serif; color: #ffffff; text-transform: uppercase;
          display: table-cell; vertical-align: middle; padding-left: 13px;
          }
          div.wrapperRight div.contRight .boxCinza .boxTitulo p span{
            display: block; font-size: 14px; font-weight: normal;
          }
    div.wrapperRight div.contRight .boxCinza .textos{
      font: 12px Tahoma, Geneva, sans-serif; 
      padding: 0 31px 13px; display: table;
      }
      div.wrapperRight div.contRight .boxCinza .textos p{
        color: #7c7a7a; margin-top: 21px; float: left; clear: both;
        }
        div.wrapperRight div.contRight .boxCinza .textos .desc{
          color:#000000;
        }
        div.wrapperRight div.contRight .boxCinza .links{
          display: table;
        }
        div.wrapperRight div.contRight .boxCinza .textos a{
          float: left; color:#13829b; text-decoration: underline; padding-left: 15px;
          background: url(../imagens/icones/ico_seta_menu.png) no-repeat 0 -48px;
          width: 180px; margin-top: 21px;
          }
          div.wrapperRight div.contRight .boxCinza .textos a:hover{
            color: #61172e;
          }
        div.wrapperRight div.contRight .boxCinza .textos .btSaibamais{
          font:12px/34px Tahoma, Geneva, sans-serif; color: #ffffff;
          background: #61172e; width: 82px; height: 34px; text-align: center; text-transform: uppercase; vertical-align: top; float: right; 
          margin-right: 56px; padding: 0; text-decoration: none; margin-top: 11px;
          }
          div.wrapperRight div.contRight .boxCinza .textos .btSaibamais:hover{
            color: #ffffff;
          }
    div.wrapperRight div.contRight .boxSemFundo{
      width: 452px;
      }
      div.wrapperRight div.contRight .boxSemFundo .boxTitulo{
        width: 100%; border-bottom: 1px solid #13829b;
        }
        div.wrapperRight div.contRight .boxSemFundo .boxTitulo h2{
          text-transform:uppercase;
          font-family: 'UniversLTStd67BoldCondensed'; font-size:21px; color:#047994;          
          }
          div.wrapperRight div.contRight .boxSemFundo .boxTitulo span{
            color:#0a4166;
          }
      div.wrapperRight div.contRight .boxSemFundo .textos{
        padding-right: 14px; margin-top: 20px;
        }
        div.wrapperRight div.contRight .boxSemFundo .textos a{
          color:#13829b; text-decoration: none;
          font:12px Tahoma, Geneva, sans-serif;
          }
          div.wrapperRight div.contRight .boxSemFundo .textos .icoAtend{
            margin-right: 14px; float: left; width: 62px; height: 57px;
            background: url(../imagens/icones/ico_atendimento_online.png) no-repeat 0 0;
            }
            div.wrapperRight div.contRight .boxSemFundo .textos a:hover .icoAtend{
              background-position: 0 -65px;
            }
            div.wrapperRight div.contRight .boxSemFundo .textos span{
              color:#7c7a7a; text-decoration: none; display: block;
            }
            div.wrapperRight div.contRight .boxSemFundo .textos .clique{
              text-decoration: underline; padding-left: 13px; color: #13829b; 
              display: inline-block; margin-top:11px;
              background: url(../imagens/icones/ico_seta_menu.png) no-repeat 0 -48px;
              }
              div.wrapperRight div.contRight .boxSemFundo .textos .clique:hover{
                color: #61172e;
              }

/* -------------------fim wrapperRight------------------ */

.boxFeedBlog{
  width: 100%; display: inline-block; margin-top:44px; margin-bottom: 64px;
  }
  .boxFeedBlog .feedBlog li{
    float: left; width: 225px;
    }
    .boxFeedBlog .feedBlog li + li{
      margin-left: 20px;
      }
    .boxFeedBlog .feedBlog li .titulo{
      font:20px Tahoma, Geneva, sans-serif; color: #13829b; text-decoration: underline;
      margin-bottom: 12px; display: block;
      }
      .boxFeedBlog .feedBlog li .titulo:hover{
        color: #61172e;        
      }
    .boxFeedBlog .feedBlog li p{
      font:12px Tahoma, Geneva, sans-serif; color:#000000;
    }
    .boxFeedBlog .feedBlog li .btMais{
      text-decoration: underline; padding-left: 13px; color: #13829b; 
      display: inline-block; margin-top:20px; font:12px Tahoma, Geneva, sans-serif;
      background: url(../imagens/icones/ico_seta_menu.png) no-repeat 0 -48px;
      }
      .boxFeedBlog .feedBlog li .btMais:hover{
        color: #61172e;
      }


/* -------------------fim boxFeedBlog------------------ */

div.fundoTitulo100{
  width:100%; height:34px; clear:both; margin:0 0 28px;
  background:#e6f1f4;
  }
  div.fundoTitulo100 div.boxTitulo{
    width:960px; margin:0 auto; padding:5px 0;
    }
    div.fundoTitulo100 div.boxTitulo h2{
      text-transform:uppercase; width:700px; float:left;
      font-family: 'UniversLTStd67BoldCondensed'; font-size:21px; color:#0b576c;
      }
      div.fundoTitulo100 div.boxTitulo h2 span{
        color:#004065;
        }			
					
	div.contCentral ul.listaProdHome{
		width:960px; clear:both; padding-bottom:50px;
		overflow:hidden;
		}
		ul.listaProdHome li{
			width:230px; float:left; margin:0 5px 12px; display:block;
			}
			ul.listaProdHome li div.boxImgProd{
				width:228px; text-align:center;
				clear:both;
				}
			ul.listaProdHome li div.boxDescProd{
				width:210px; padding:4px 10px;
				clear:both;
				}
				ul.listaProdHome li div.boxDescProd h3,
				ul.listaProdHome li div.boxDescProd h3 a{
					font-family: 'UniversLTStd55Roman'; font-size:18px; color:#047994;
					margin:10px 0 10px; line-height:18px; width:210px; height:34px;
					overflow:hidden;
					}
					ul.listaProdHome li div.boxDescProd p{
						font:11px Tahoma, Geneva, sans-serif; color:#7c7a7a; overflow:hidden;
						margin:0 0 10px; line-height:11px; width:210px; height:34px;
						}
						ul.listaProdHome li div.boxDescProd p.preco{
							width:120px; float:left; height:60px;
							font:12px Tahoma, Geneva, sans-serif; color:#047994;
							}
							div.boxDescProd p.preco span.pValor{
								font:bold 16px Tahoma, Geneva, sans-serif; color:#047994;								
								}
							div.boxDescProd p.preco span.pValorDe{
								font:bold 12px Tahoma, Geneva, sans-serif; color:#047994;
								text-decoration:line-through; clear:both;
								}
								div.boxDescProd a.bt_comprarHome{
									font-family: 'UniversLTStd55Roman'; font-size:12px; color:#ffffff;
									width:82px; height:14px; background:#61162d; display:block; float:right;
									text-align:center; padding:10px 0; margin:10px 0 0; text-transform:uppercase;
									}



.newsletter{
  width: 100%; background: #13829b; height: 70px;display: inline-block;
  }
  .newsletter .logo{
    background: url(../imagens/layout/logo_footer.png) no-repeat 0 0;
    width: 105px; height: 30px; float: left; margin-top: 20px;
    }
    .newsletter .logo a{
      display: block; width: 100%; height: 100%; text-indent: -5000em;
    }
  .newsletter .alignRight{
    float: right;
    }
    .newsletter .alignRight label{
      font:bold 12px Tahoma, Geneva, sans-serif;
      color:#ffffff; float: left; margin-top: 28px;
      }
      .newsletter .alignRight label:before{
        content: '\005C \005C';
      }
    .newsletter .alignRight .boxCampo{
      width: 315px; height: 35px; float: left; background: #ffffff;
      position: relative; margin-top: 18px; margin-left: 7px;
      }
      .newsletter .alignRight .boxCampo input[type="text"]{
        width: 247px; height: 35px; background: none; margin-left: 10px;
        color:#13829b; font:italic bold 12px Tahoma, Geneva, sans-serif;
        }
        .newsletter .alignRight .boxCampo input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
          color:#097a96;
          }
        .newsletter .alignRight .boxCampo input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:#097a96;
          }
        .newsletter .alignRight .boxCampo input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:#097a96;
          }
        .newsletter .alignRight .boxCampo input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
          color:#097a96;
          }
      .newsletter .alignRight .boxCampo .btOk{
        width: 47px; height: 35px; border: none; background: #61172e;
        color:#ffffff; font:bold 12px/35px Tahoma, Geneva, sans-serif; cursor: pointer;
        text-align: center; text-transform: uppercase; position: absolute; top: 0; right: 0;
      }
      .newsletter .alignRight .boxCampo p{
        margin-right: 47px; text-align: center; font:italic bold 12px/35px Tahoma, Geneva, sans-serif;
        }
        .newsletter .alignRight .boxCampo p.msgSucesso{
          color:#3f5d59;
        }
        .newsletter .alignRight .boxCampo p.msgErro{
          color: #6f3646;
          }
          .newsletter .alignRight .boxCampo p.msgErro a{
            text-decoration: underline; color: #6f3646;
          }


div.wrapperFoot{
  width:100%; clear:both;
  }
  div.wrapperFoot div.footer{
    width:960px; clear:both; padding:28px 10px 0;
    margin:0 auto; display: table;
    }
    div.wrapperFoot div.footer .navCol{
      float: left;
      }
      div.wrapperFoot div.footer .navCol ul{
        float: left;
        }
        div.wrapperFoot div.footer .navCol ul + ul{
          margin-left: 59px;
        }
        div.wrapperFoot div.footer .navCol ul .titulo{
          font:bold 12px Tahoma, Geneva, sans-serif; color: #097a96;
          padding: 0;
          }
          div.wrapperFoot div.footer .navCol ul .titulo:before{
            content:'\005C \005C';
          }
        div.wrapperFoot div.footer .navCol ul li{
          display: block; padding-left: 12px; padding-top: 12px;
          }
          div.wrapperFoot div.footer .navCol ul li a{
            font:12px Tahoma, Geneva, sans-serif; color: #097a96;
            text-decoration: underline;
            }
            div.wrapperFoot div.footer .navCol ul li a:hover{
              color: #61172e;
            }
    div.wrapperFoot div.footer .alignRight{
      float: right;
      }
      div.wrapperFoot div.footer .alignRight .txtLegal{
        float: right; text-align: right; clear: both;
        margin-bottom: 63px;
        }
        div.wrapperFoot div.footer .alignRight .txtLegal h2{
          font: bold 20px Tahoma, Geneva, sans-serif; color: #097a96;
          margin-bottom: 6px;
        }
        div.wrapperFoot div.footer .alignRight .txtLegal p{
            font:10px Tahoma, Geneva, sans-serif; color: #097a96;
        }
      div.wrapperFoot div.footer .alignRight .seguranca{
        float: right; clear: both;
        }
        div.wrapperFoot div.footer .alignRight .seguranca a{
          float: left; margin-left: 16px;
        }
    div.wrapperFoot div.footer .infoPgmt{
      width: 100%; margin-top: 53px; margin-bottom: 26px;
      clear: both; display: inline-block;
      }
      div.wrapperFoot div.footer .infoPgmt a{
        font:12px/18px Tahoma, Geneva, sans-serif; color: #097a96;        
        background: url(../imagens/icones/ico_links_footer.png) no-repeat 0 0;
        padding-left: 20px; float: left; margin-right: 39px;
        }
        div.wrapperFoot div.footer .infoPgmt a:hover{
          color: #61172e;
        }
      div.wrapperFoot div.footer .infoPgmt a.testeCert{
        background-position: 0 0;
        }
        div.wrapperFoot div.footer .infoPgmt a.testeCert:hover{
          background-position: 0 -27px;;
        }
      div.wrapperFoot div.footer .infoPgmt a.pontoAtend{
        background-position: 0 -56px;
        }
        div.wrapperFoot div.footer .infoPgmt a.pontoAtend:hover{
          background-position: 0 -86px;;
          }
      div.wrapperFoot div.footer .infoPgmt .alignRight{
        float: right;
        }
        div.wrapperFoot div.footer .infoPgmt .alignRight img + img{
          margin-left: 13px;
        }
        div.wrapperFoot div.footer .infoPgmt .alignRight p{
          font: 8px Tahoma, Geneva, sans-serif; color: #097a96;
          }
          div.wrapperFoot div.footer .infoPgmt .alignRight p.titulo{
            font: bold 12px Tahoma, Geneva, sans-serif;
            float: left;
            }
            div.wrapperFoot div.footer .infoPgmt .alignRight p.titulo:before{
              content: '\005C \005C';
            }
        div.wrapperFoot div.footer .infoPgmt .alignRight .pgmtCredito,
        div.wrapperFoot div.footer .infoPgmt .alignRight .pgmtBoleto{
          float: left; margin-top:-11px; margin-left: 13px;
        }
  div.wrapperFoot .linksFooter{
    width: 100%; background: #13829b; height: 30px;
    }
    div.wrapperFoot .linksFooter a{
      color: #ffffff; text-transform: uppercase; float: left;
      font: 10px/30px Tahoma, Geneva, sans-serif; margin-right: 7px;
      }
      div.wrapperFoot .linksFooter a:hover{
        text-decoration: underline;
      }
      div.wrapperFoot .linksFooter a:before{
        content:'\005C \005C';
      }
      div.wrapperFoot .linksFooter a + a{
        }
        div.wrapperFoot .linksFooter a + a:before{
          content: "|";
          padding-right: 7px;
        }
    div.wrapperFoot .linksFooter .network{
      float: right;
      }
      .wrapperFoot .network li{
        float: left; margin-left: 11px; margin-top: 6px;
        }
        .wrapperFoot .network li + li{
          margin-left: 5px;
          }
        .wrapperFoot .network li a{
          width: 17px; height: 17px; display: block; text-indent: -5000em;
          background: url(../imagens/icones/ico_network.png) no-repeat 0 -27px;
          margin-right: 0;
          }
          .wrapperFoot .network li a.ico_fb{
            background-position: 0 -27px;
            }
          .wrapperFoot .network li a.ico_tw{
            background-position: -22px -27px;
            }
          .wrapperFoot .network li a.ico_bl{
            background-position: -43px -27px;
            }








/* --- LIGHT BOX CHAT ---*/


/*COMUM*/
.lightbox_chat .wrapper{font-family:'myriad_proregular'; color:#6f6f6f; font-size:13px;}
.lightbox_chat .left{float:left;}
.lightbox_chat .right{float:right;}
.lightbox_chat .clear{clear:both;}
.lightbox_chat .inv{display:none;}

h1{color:#0a4166; font:22px 'interfacebold'; text-transform:uppercase; font-weight:normal;}
h2{color:#0a4166; font-size:20px; text-transform:uppercase; font-weight:normal;}
h3{color:#0a4166; font-size:16px; text-transform:uppercase; font-weight:normal;}
.lightbox_chat h4{}

.contCentral {width: 100%; margin: 0 auto;}
div.contCentral div.fundoTitulo100 h2 {text-transform: uppercase;width: 960px;margin:0 auto; font: 20px 'Univers57CondensedRegular', Tahoma, Geneva, sans-serif;color: #047994; padding-top:6px;}


 .wrapper {
	width:653px; margin:0 auto; 
	position: fixed;
	display: block;
	height: 470px;
	z-index: 9000;
	margin-left: -331px;
	left: 50%;
	top: 55px;
	background-color: white;
}
.lightbox_chat .bg_wrapper{background:url(../imagens/layout/bg.jpg) repeat-y; min-height:540px;}

.lightbox_chat .bg_wrapper a.btFechar {
		float:right; clear:both; background:#0a4166; width:19px; height:19px;
		font:11px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color:#ffffff;
		text-align:center; line-height:19px; font-weight:bold;cursor: pointer;
	}


/*HEADER*/
.lightbox_chat .header_wrap{background:url(../imagens/layout/header_bg.jpg) no-repeat; width:100%; height:128px; margin:19px 0 56px 0; display:inline-block;}
.lightbox_chat .header_wrap p{font:31px 'interfacebold'; color:#fff; display:block; text-transform:uppercase; margin:60px 0 0 143px;}


/*CONTENT*/
.lightbox_chat .content{padding:0 30px; text-align:center; margin:0;}
.lightbox_chat .content .separator{float:left; width:1px; height:163px; background:url(../imagens/layout/separator.png) repeat-y; margin:25px 18px 0 18px;}
.lightbox_chat .content .contLeft{float:left; width:278px;}
.lightbox_chat .content .contRight{float:right; width:278px;}
.lightbox_chat .content .contLeft p, .content .contRight p{margin:10px 0 0 0; line-height:16px;}
.lightbox_chat .content .contLeft p{margin-top:5px;}
.lightbox_chat span.cliqueA{display:block; width:165px; height:31px; background:url(../imagens/botao/clique_aqui.png) no-repeat; font:19px 'interfacebold'; color:#fff; padding:10px 0 0 8px; margin:25px 0 0 70px; *margin:25px 0 0 35px;}
.lightbox_chat span.cliqueA a{color:#fff; text-decoration:none; line-height:24px; font-size:20px;}
.lightbox_chat span.cliqueA a span{font: 18px/24px 'interfacebold'!important; color:#fff;text-transform: uppercase;}
.lightbox_chat .contLeft .cliqueA{margin-top:35px;}
.lightbox_chat .contRight .cliqueA{}

/*FOOTER*/
.lightbox_chat .footer{width:100%; margin:33px 0 0 0; position:relative; display:inline-block; *margin:-23px 0 0 0;}
.lightbox_chat .footer .footerInfo{float:left; text-align:center; width:475px; height:76px; background:#fff; color:#0a4166; line-height:16px; padding:15px 0 0 0;}
.lightbox_chat .footer .logo{display:block; width:178px; height:106px; background:url(../imagens/layout/logo_chat.png) no-repeat; float:right;}

.bg_lightbox {z-index: 999!important;}
.bg_lightbox {position:fixed;left:0;top:0;width:100%; height:100%;background:#000;opacity:0.70;-moz-opacity: 0.70;filter: alpha(opacity=70);z-index:5001;} 

/* --- LIGHT BOX CHAT ---*/