﻿
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulário FormMail</title>
    <meta property="og:title" content="Teste de Envio via FormMail" />
    <meta property="og:locale" content="pt_br" />
    <title>Security Key</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/Scripts/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/script.js"></script>
    <link rel="shortcut icon" href="~/imagens/iconSecurity.ico" title="Favicon" />
    <style type="text/css">
        /*#bkImg {
            background-image: url(../../imagens/Fundo2frf.png);
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -khtml-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }*/

        body {
            font-family: sans-serif;
            background-color: #fff;
        }

        .mensagemRodape {
            font: bold 12px arial;
            color: #333333;
            float: right;
            padding-top: 5px;
        }
        /*altera a fonte padrão (opcional)*/
        #topo {
            background: #ffffff;
            position: fixed;
            width: 100%;
            height: 50px;
            /*padding-top: 10px;*/
            padding-bottom: 0px;
            top: 0;
            left: 0;
        }

        .container {
            width: 85%;
            margin: auto;
        }

        /*nav {
            float: right;
            color: #143E5B;
        }*/
        /*alinha o menu a direita*/
        /*nav ul li {
                display: inline;
                margin-left: 30px;
                padding-top: 15px;
            }*/
        /*menu em linha e espaço entre os itens*/

        .rodape {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px; /* Mesma Altura do Rodapé */
            /*background: #6cf;*/
            background: #fff;
        }

        .minhasredes3 {
            /*padding: 15px;*/
        }

            .minhasredes3 a {
                -webkit-transition: All 1s ease;
                -moz-transition: All 1s ease;
                opacity: 0.5;
            }

                .minhasredes3 a:hover {
                    opacity: 1;
                }

            .minhasredes3 img {
                -webkit-transition: All 0.2s ease;
                -moz-transition: All 0.2s ease;
            }

        #social {
            /*margin: 15px 0 5px -15px;*/
            width: 300px;
            height: 40px;
            text-align: center;
        }

            #social img {
                margin-left: 3px;
                margin-right: 3px;
            }

                #social img:hover {
                    opacity: 0.6;
                }

        .nomeProduto {
            font: bold 17px tahoma,arial;
            color: white;
            padding-top: 10px;
            margin-left: 10px;
        }

        .imgProduto img {
            padding-top: 10px;
            width: 180px;
        }

        .descricaoProduto {
            padding-top: 10px;
            font: 12px tahoma,arial;
            color: white;
            height: 35px;
            margin-left: 5px;
        }

        .hr {
            background-color: white;
            width: 2px;
            height: 150px;
            float: left;
        }

        .btn {
            display: inline-block;
            padding: 8px 14px;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: all, 0.5s;
            -webkit-transition: all, 0.5s;
            -o-transition: all, 0.5s;
        }

        .btn-primary {
            background-color: #387DA1;
            border-color: #00a59c !important;
            color: #ffffff;
        }

        input, button, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

            button, html input[type="button"], input[type="reset"], input[type="submit"] {
                -webkit-appearance: button;
                cursor: pointer;
            }

        button, select {
            text-transform: none;
        }

        button {
            overflow: visible;
        }

        button, input, optgroup, select, textarea {
            margin: 0;
            font: inherit;
            color: inherit;
        }

        .form-control {
            width: 300px;
        }

        .form-control-DD {
            width: 20px;
        }
    </style>
    <script>
        function fone() {
            if (document.frm.fone.value.length == 0) {
                document.frm.fone.value = "(" + document.frm.fone.value;
            }
            if (document.frm.fone.value.length == 4) {
                document.frm.fone.value = document.frm.fone.value + ")";
            }
            if (document.frm.fone.value.length == 9) {
                document.frm.fone.value = document.frm.fone.value + "-";
            }
        }

        $(function () {
            $(".data").mask("99/99/9999", { placeholder: " " });
            $(".rg").mask("99.999.999-9", { placeholder: " " });
            $(".cpf").mask("999.999.999-99", { placeholder: " " });
            $(".fone").mask("(99) 9999-9999", { placeholder: " " });
            $(".cnpj").mask("99.999.999/9999-99", { placeholder: " " });
        });
    </script>
</head>

<body>
    <!-- PARA REVENDA PLESK e CPANEL UTILIZE O ENDEREÇO ABAIXO: -->
    @*<form method="post" action="http://scripts.hospedagemdesites.ws/scripts/formmail.pl" />*@
    <!-- PARA HOSPEDAGEM COMPARTILHADA, DESCOMENTE A LINHA ABAIXO: -->
     <form method="post" action="http://www18.locaweb.com.br/scripts/FormMail.pl"/> 
            <div style="height:2px; background-color: #387DA1;"></div>
            <div style="width:1310px; height:680px;">
                <table style="margin-left:10px; margin-top: 10px;">
                    <!-- Abaixo, informe uma conta de email do domínio da hospedagem (email@domínio.com.br) -->
                    <input type="hidden" name="email" value="contato@securitykey.com.br" />

                    <!-- Informe a conta de emails que receberá os dados do formulário nele preenchido. -->
                    <!-- Dica: Para adicionar outro recipiente do formulário, separe as contas de email por virgula Ex.: value="email@dominio.com.br, podeseroutroemail@outrodomínio.com.br"  -->
                    <input type="hidden" name="recipient" value="contato@securitykey.com.br" />

                    <!-- Abaixo, informe o qual o assunto padrão da mensagem -->
                    <input type="hidden" name="subject" value="Contato Site SecurityKey" />

                    <!-- Nesta tag, informe o redirecionamento desejado, página principal do site, mensagem de agradecimento, etc -->
                    <input type="hidden" name="redirect" value="http://www.securitykey.com.br/Home/fundo" />
                    <tr>

                        <td>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.571250313846!2d-47.89082801101996!3d-15.773804676277756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3a510d58cba1%3A0xafe07e90c9c7c4e5!2sShcgn+-+Bras%C3%ADlia%2C+DF%2C+70730-551!5e0!3m2!1spt-BR!2sbr!4v1460864898183" width="650" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </td>
                        <td>
                            <table style="border: 1px solid #387DA1; height: 500px;">
                                <tr>
                                    <td>
                                        Nome*:
                                    </td>
                                    <td>
                                        @*@Html.TextBox("nome", "", new { @class = "form-control" })*@
                                        <input type="text" name="nome" size="40" value="">
                                    </td>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        Fone*:
                                    </td>
                                    <td>
                                        @Html.TextBox("DD", "", new { @class = "form-control-DD" })
                                        @Html.TextBox("fone", null,new { @class = "input-telefone" })
                                        <input class="input-telefone" data-val="true" data-val-regex="Número de telefone inválido" data-val-regex-pattern="(^\d{4,5}-?\d{4}$)" data-val-required="O campo Número é obrigatório." id="NovoTelefone_Numero" name="NovoTelefone.Numero" type="text" value="" autocomplete="off">
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        E-mail*:
                                    </td>
                                    <td>
                                        @*@Html.TextBox("email")*@
                                    <input type="text" name="replyto" size="40" value=""> <!-- Este parametro ( name="replyto" ) recebe o email que você responderá posteriormente "Responder Para" -->
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        Assunto*:
                                    </td>
                                    <td>
                                        <select id="categoria" name="categoria">
                                            <option selected="selected" value="0"></option>
                                            <option value="1">E-CPF</option>
                                            <option value="2">E-CNPJ</option>
                                            <option value="3">NF-E</option>
                                            <option value="4">Conectividade Social</option>
                                            <option value="4">E-PJ</option>
                                        </select>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        Mensagem:
                                    </td>
                                    <td>
                                        @*@Html.TextArea("mensagem", new { cols = "80", rows = "20" })*@
                                    <textarea name="mensagem" cols="80", rows="20"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center;">
                                        <input type="submit" name="Submit" value="Enviar Dados">
                                        @*<button class="btn btn-primary" type="button" id="btnNovo" onclick="window.location.href = '@Url.Action("EnviarEmail")'"><i class="bt-icon icon-add"></i> Enviar</button>*@
                                        <br />
                                        <br />
                                        @** CAMPOS DE PREENCHIMENTO OBRIGAT&Oacute;RIO*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <address>
                    SCLRN 705 Bloco A Ent. 13 Sala 1<br />
                    Brasília, Asa Norte<br />
                    <abbr title="Telefone">tel:</abbr>
                    061 9562-3216
                </address>

                <address>
                    <strong>Suporte:</strong>   <a href="mailto:contato@securitykey.com.br">contato@securitykey.com.br</a><br />
                </address>


            </div>
            <div style="height:2px; background-color: #387DA1;"></div>
        </form>
</body>
</html>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/Views/Home/index.js"></script>
}