﻿<html>
<head>
    <title>Security Key</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/Scripts/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/script.js"></script>
    <link rel="shortcut icon" href="~/imagens/iconSecurity.ico" title="Favicon" />
    <style type="text/css">
        /*#bkImg {
            background-image: url(../../imagens/Fundo2frf.png);
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -khtml-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }*/

        body {
            font-family: sans-serif;
            background-color: #fff;
        }

        .mensagemRodape {
            font: bold 12px arial;
            color: #333333;
            float: right;
            padding-top: 5px;
        }
        /*altera a fonte padrão (opcional)*/
        #topo {
            background: #ffffff;
            position: fixed;
            width: 100%;
            height: 50px;
            /*padding-top: 10px;*/
            padding-bottom: 0px;
            top: 0;
            left: 0;
        }

        .container {
            width: 85%;
            margin: auto;
        }

        /*nav {
            float: right;
            color: #143E5B;
        }*/
        /*alinha o menu a direita*/
        /*nav ul li {
                display: inline;
                margin-left: 30px;
                padding-top: 15px;
            }*/
        /*menu em linha e espaço entre os itens*/

        .rodape {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px; /* Mesma Altura do Rodapé */
            /*background: #6cf;*/
            background: #fff;
        }

        .minhasredes3 {
            /*padding: 15px;*/
        }

            .minhasredes3 a {
                -webkit-transition: All 1s ease;
                -moz-transition: All 1s ease;
                opacity: 0.5;
            }

                .minhasredes3 a:hover {
                    opacity: 1;
                }

            .minhasredes3 img {
                -webkit-transition: All 0.2s ease;
                -moz-transition: All 0.2s ease;
            }

        #social {
            /*margin: 15px 0 5px -15px;*/
            width: 300px;
            height: 40px;
            text-align: center;
        }

            #social img {
                margin-left: 3px;
                margin-right: 3px;
            }

                #social img:hover {
                    opacity: 0.6;
                }

        .nomeProduto {
            font: bold 17px tahoma,arial;
            color: white;
            padding-top: 10px;
            margin-left: 10px;
        }

        .imgProduto img {
            padding-top: 10px;
            width: 180px;
        }

        .descricaoProduto {
            padding-top: 10px;
            font: 12px tahoma,arial;
            color: white;
            height: 35px;
            margin-left: 5px;
        }

        .hr {
            background-color: white;
            width: 2px;
            height: 150px;
            float: left;
        }
    </style>
</head>

<body >
    <div style="background-image:url(http://www.securitykey.com.br/imagens/hex0.jpg); background-repeat:no-repeat; width:1340px; height:710px;">
    </div>
</body>
</html>


