﻿<html>
<head>
    <title>Security Key</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/Scripts/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/script.js"></script>
    <link rel="shortcut icon" href="~/imagens/iconSecurity.ico" title="Favicon" />
    <style type="text/css">
        /*#bkImg {
                background-image: url(../../imagens/Fundo2frf.png);
                background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                -khtml-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
            }*/

        body {
            font-family: sans-serif;
            background-color: #fff;
        }

        .mensagemRodape {
            font: bold 12px arial;
            color: #333333;
            float: right;
            padding-top: 5px;
        }
        /*altera a fonte padrão (opcional)*/
        #topo {
            background: #ffffff;
            position: fixed;
            width: 100%;
            height: 50px;
            /*padding-top: 10px;*/
            padding-bottom: 0px;
            top: 0;
            left: 0;
        }

        .container {
            width: 85%;
            margin: auto;
        }

        /*nav {
                float: right;
                color: #143E5B;
            }*/
        /*alinha o menu a direita*/
        /*nav ul li {
                    display: inline;
                    margin-left: 30px;
                    padding-top: 15px;
                }*/
        /*menu em linha e espaço entre os itens*/

        .rodape {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px; /* Mesma Altura do Rodapé */
            /*background: #6cf;*/
            background: #fff;
        }

        .minhasredes3 {
            /*padding: 15px;*/
        }

            .minhasredes3 a {
                -webkit-transition: All 1s ease;
                -moz-transition: All 1s ease;
                opacity: 0.5;
            }

                .minhasredes3 a:hover {
                    opacity: 1;
                }

            .minhasredes3 img {
                -webkit-transition: All 0.2s ease;
                -moz-transition: All 0.2s ease;
            }

        #social {
            /*margin: 15px 0 5px -15px;*/
            width: 300px;
            height: 40px;
            text-align: center;
        }

            #social img {
                margin-left: 3px;
                margin-right: 3px;
            }

                #social img:hover {
                    opacity: 0.6;
                }

        .nomeProduto {
            font: bold 17px tahoma,arial;
            color: white;
            padding-top: 10px;
            margin-left: 10px;
        }

        .imgProduto img {
            padding-top: 10px;
            width: 180px;
        }

        .descricaoProduto {
            padding-top: 10px;
            font: 12px tahoma,arial;
            color: white;
            height: 35px;
            margin-left: 5px;
        }

        .hr {
            background-color: white;
            width: 2px;
            height: 150px;
            float: left;
        }

        #rodape {
            background: #b0f1b0;
            width: 760px;
            height: 20px;
            /* position: absolute;
        bottom: 0; */
            border: dotted #999;
            border-width: 1px 0;
            text-align: center;
        }

            #rodape p {
                margin: 0;
                font-weight: bold;
                color: #060;
            }

        iframe {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <table align="center" border="1" width="100%">
        <tr>
            <td>
                <div style="height:30px; background-color: #387DA1;">
                    <div style="float:right; margin-right:100px;">
                        <img src="~/imagens/facebookOnline.png" />&nbsp;&nbsp;
                        <img src="~/imagens/youtubeOnl.png" />&nbsp;&nbsp;
                        <img src="~/imagens/twiton.png" />
                    </div>
                </div>
                <table align="center" border="1">
                    <tr>
                        <td>
                            <div style="margin-right: 10%;">
                                <a style="cursor:pointer;" onclick="window.location.href = '@Url.Action("Index", "Home")'">
                                    <img class="logo" src="~/imagens/Logo2.png" width="200" height="50">
                                </a>
                            </div>
                        </td>
                        <td width="500px"></td>
                        <td>
                            <div id='cssmenu' style="width: 400px; ">
                                <ul>
                                    <li><a style="cursor:pointer;" href="Home/index" target="framePrincipal" onclick="window.location.href = '@Url.Action("Index", "Home")'">Home</a></li>
                                    <li><a style="cursor:pointer;" href="Home/sobre" target="framePrincipal">Sobre</a></li>
                                    <li><a style="cursor:pointer;" href="Home/produtos" target="framePrincipal">Produtos</a></li>
                                    @*<li><a style="cursor:pointer;" onclick="window.location.href = '@Url.Action("Contato", "Home")'">Contato</a></li>*@
                                    <li><a style="cursor:pointer;" href="Home/contato" target="framePrincipal">Contato</a></li>
                                </ul>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <div style="width:100%; height:10px;">
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table align="center" border="1">
                    <tr>
                        <td>
                            <iframe name="framePrincipal" id="framePrincipal" width="1750px" height="720px" style="border: 0px;" src="http://www.securitykey.com.br/Home/fundo" frameborder="1"></iframe>
                            <div style="width:100%; height:20px; background-color: #ffffff;"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 95%; margin: auto; padding: 30px; background-color: #4C4C4C; height: 150px;">
                    <div style="width: 1000px; margin: auto;">
                        <hr class="hr" />
                        <div style="width: 195px; float: left;">
                            <div class="nomeProduto">
                                e-CPF
                            </div>
                            <div class="imgProduto">
                                <img id="rpt_Categorias_img_categoria_0" src="https://app.onlinecertificadora.net.br/GAC/UPLOAD/IMAGE_CATEGORIA_PRODUTO/20150915035426_1201.gif">
                            </div>
                            <div class="descricaoProduto">
                                Certificados Digitais ICP-Brasil para Pessoa Física
                            </div>
                        </div>
                        <hr class="hr" />
                        <div style="width: 195px; float: left;">
                            <div class="nomeProduto">
                                E-CNPJ
                            </div>
                            <div class="imgProduto">
                                <img id="rpt_Categorias_img_categoria_1" src="https://app.onlinecertificadora.net.br/GAC/UPLOAD/IMAGE_CATEGORIA_PRODUTO/20150915035505_1201.gif">
                            </div>
                            <div class="descricaoProduto">
                                Certificados Digitais ICP-Brasil para Pessoa Jurídica
                            </div>
                        </div>
                        <hr class="hr" />
                        <div style="width: 195px; float: left;">
                            <div class="nomeProduto">
                                NF-E
                            </div>
                            <div class="imgProduto">
                                <img id="rpt_Categorias_img_categoria_2" src="https://app.onlinecertificadora.net.br/GAC/UPLOAD/IMAGE_CATEGORIA_PRODUTO/20150915035622_1201.gif">
                            </div>
                            <div class="descricaoProduto">
                                Certificados Digitais ICP-Brasil para emissão de Notal Fiscal Eletrônica
                            </div>
                        </div>
                        @*<hr class="hr" />
                            <div style="width: 195px; float: left;">
                                <div class="nomeProduto">
                                    Conectividade Social
                                </div>
                                <div class="imgProduto">
                                    <img id="rpt_Categorias_img_categoria_3" src="https://app.onlinecertificadora.net.br/GAC/UPLOAD/IMAGE_CATEGORIA_PRODUTO/20150915035710_1201.gif">
                                </div>
                                <div class="descricaoProduto">
                                    Certificados Digitais ICP-Brasil Conectividade Social
                                </div>
                            </div>*@
                        <hr class="hr" />
                        <div style="width: 195px; float: left;">
                            <div class="nomeProduto">
                                E-PJ
                            </div>
                            <div class="imgProduto">
                                <img id="rpt_Categorias_img_categoria_4" src="https://app.onlinecertificadora.net.br/GAC/UPLOAD/IMAGE_CATEGORIA_PRODUTO/20150915035549_1201.gif">
                            </div>
                            <div class="descricaoProduto">
                                Certificados Digitais ICP-Brasil para Empregadores PJ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rodape">
                    <table border="0" align="center">
                        <tr>
                            <td align="center">
                                <div style="margin-top:3px;">
                                    @*<a href="http://www.onlinecertificadora.com.br/" target="_blank">*@
                                    <a href="#" target="_blank">
                                        <img src="~/imagens/onlineCertificadora.png" width="77" height="25" />
                                    </a>
                                </div>
                            </td>
                            <td width="65%"></td>
                            <td style="margin-top:5px;"><div class="mensagemRodape">Copyright © 2016 - Security Key</div></td>
                            @*<td>
                                    <div id="social">
                                        <a href="URL PERFIL FACEBOOK" title="Me adicione no Facebook"><img src="~/imagens/facebook.png"  width="35" height="35"/></a>
                                    </div>
                                </td>*@
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>