﻿
<html>
<head>
    <title>Security Key</title>
    <link rel="stylesheet" href="~/css/styles2.css">
    <link rel="stylesheet" href="~/css/internas.css">
    <script src="~/Scripts/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/script.js"></script>
    <link rel="shortcut icon" href="~/imagens/iconSecurity.ico" title="Favicon" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
            $("#flip1").click(function () {
                $("#panel1").slideToggle("slow");
            });
            $("#flip2").click(function () {
                $("#panel2").slideToggle("slow");
            });
            $("#flip3").click(function () {
                $("#panel3").slideToggle("slow");
            });
        });
    </script>
    <style type="text/css">
        /*#bkImg {
            background-image: url(../../imagens/Fundo2frf.png);
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -khtml-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }*/

        body {
            font-family: sans-serif;
            background-color: #fff;
        }

        .mensagemRodape {
            font: bold 12px arial;
            color: #333333;
            float: right;
            padding-top: 5px;
        }
        /*altera a fonte padrão (opcional)*/
        #topo {
            background: #ffffff;
            position: fixed;
            width: 100%;
            height: 50px;
            /*padding-top: 10px;*/
            padding-bottom: 0px;
            top: 0;
            left: 0;
        }

        .container {
            width: 85%;
            margin: auto;
        }

        /*nav {
            float: right;
            color: #143E5B;
        }*/
        /*alinha o menu a direita*/
        /*nav ul li {
                display: inline;
                margin-left: 30px;
                padding-top: 15px;
            }*/
        /*menu em linha e espaço entre os itens*/

        .rodape {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px; /* Mesma Altura do Rodapé */
            /*background: #6cf;*/
            background: #fff;
        }

        .minhasredes3 {
            /*padding: 15px;*/
        }

            .minhasredes3 a {
                -webkit-transition: All 1s ease;
                -moz-transition: All 1s ease;
                opacity: 0.5;
            }

                .minhasredes3 a:hover {
                    opacity: 1;
                }

            .minhasredes3 img {
                -webkit-transition: All 0.2s ease;
                -moz-transition: All 0.2s ease;
            }

        #social {
            /*margin: 15px 0 5px -15px;*/
            width: 300px;
            height: 40px;
            text-align: center;
        }

            #social img {
                margin-left: 3px;
                margin-right: 3px;
            }

                #social img:hover {
                    opacity: 0.6;
                }

        .nomeProduto {
            font: bold 17px tahoma,arial;
            color: white;
            padding-top: 10px;
            margin-left: 10px;
        }

        .imgProduto img {
            padding-top: 10px;
            width: 180px;
        }

        .descricaoProduto {
            padding-top: 10px;
            font: 12px tahoma,arial;
            color: white;
            height: 35px;
            margin-left: 5px;
        }

        .hr {
            background-color: white;
            width: 2px;
            height: 150px;
            float: left;
        }

        .btn {
            display: inline-block;
            padding: 8px 14px;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: all, 0.5s;
            -webkit-transition: all, 0.5s;
            -o-transition: all, 0.5s;
        }

        .btn-primary {
            background-color: #387DA1;
            border-color: #00a59c !important;
            color: #ffffff;
        }

        input, button, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

            button, html input[type="button"], input[type="reset"], input[type="submit"] {
                -webkit-appearance: button;
                cursor: pointer;
            }

        button, select {
            text-transform: none;
        }

        button {
            overflow: visible;
        }

        button, input, optgroup, select, textarea {
            margin: 0;
            font: inherit;
            color: inherit;
        }

        .form-control {
            width: 300px;
        }

        .form-control-DD {
            width: 20px;
        }

        #panel, #flip {
            padding: 5px;
            /*text-align: center;*/
            /*background-color: #e5eecc;*/
            border-bottom: solid 1px #c3c3c3;
            width: 90%;
        }

        #panel1, #flip1 {
            padding: 5px;
            /*text-align: center;*/
            /*background-color: #e5eecc;*/
            border-bottom: solid 1px #c3c3c3;
            width: 90%;
        }

        #panel2, #flip2 {
            padding: 5px;
            /*text-align: center;*/
            /*background-color: #e5eecc;*/
            border-bottom: solid 1px #c3c3c3;
            width: 90%;
        }
        #panel3, #flip3 {
            padding: 5px;
            /*text-align: center;*/
            /*background-color: #e5eecc;*/
            border-bottom: solid 1px #c3c3c3;
            width: 90%;
        }

        #panel {
            padding: 50px;
            display: none;
        }

        #panel1 {
            padding: 50px;
            display: none;
        }

        #panel2 {
            padding: 50px;
            display: none;
        }
                #panel3 {
            padding: 50px;
            display: none;
        }
    </style>
    <script>
        function fone() {
            if (document.frm.fone.value.length == 0) {
                document.frm.fone.value = "(" + document.frm.fone.value;
            }
            if (document.frm.fone.value.length == 4) {
                document.frm.fone.value = document.frm.fone.value + ")";
            }
            if (document.frm.fone.value.length == 9) {
                document.frm.fone.value = document.frm.fone.value + "-";
            }
        }

        $(function () {
            $(".data").mask("99/99/9999", { placeholder: " " });
            $(".rg").mask("99.999.999-9", { placeholder: " " });
            $(".cpf").mask("999.999.999-99", { placeholder: " " });
            $(".fone").mask("(99) 9999-9999", { placeholder: " " });
            $(".cnpj").mask("99.999.999/9999-99", { placeholder: " " });
        });
    </script>
</head>

<body>
    <form id="frm" runat="server">
        <div style="height:2px; background-color: #387DA1;"></div>
        <div style="width:1100px; height:100%;">
            @*height:710px;"*@
            @*<table style="margin-left:10px; margin-top: 10px;">
                    <tr>

                    </tr>
                </table>*@
            <div style="margin-left: 100px;">

                <div style="margin-top: 20px; font-size: 18px;"><span style="color: #387DA1;">Prestação de Serviço de Validação Presencial</span></div>
                <div style="font: 14px tahoma,arial; color: #3E3E3E; line-height: 23px; text-align: justify;">
                    <p>
                        Security Key, sua chave de segurança no mundo digital, surge para oferecer a você soluções rápidas e seguras
                        <br />no que se refere a certificação digital, com serviços de Validação Presencial, de acordo com as normas e exigências
                        <br />da ICP-Brasil, cujos serviços incluem:
                    </p>
                    <br />
                    <p>* Recepção e conferência dos documentos obrigatórios;</p>

                    <p>* Identificação presencial do solicitante do Certificado;</p>

                    <p>* Emissão e instalação do certificado digital;</p>
                    <br />
                </div>

            <!--#region e-CNPJ  -->
                @*------------------------------------------------------------------------------------------------------*@
                <div id="flip"><span style="color: #387DA1; font-size: 16px; cursor:pointer;"><img src="~/imagens/produtos/click.png" />&nbsp;e-CNPJ</span></div>
                <div id="panel">
                    @*height:30px; background-color: #387DA1;*@
                    @*<div></div>*@
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/1069.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A1</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl04_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A1 tem validade de 1 ano. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado.
                                        IMPORTANTE: Esse certificado é emitido e armazenado diretamente no computador do titular. É ideal para empresas que desejam um certificado que tenha facilidade de uso, menor custo e portabilidade uma vez que, instalado no computador, depende de sua segurança contra uso indevido e cópias.
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 209,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/11.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 1 ANO</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 tem validade de 1 ano. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado.
                                        IMPORTANTE: Para esse  certificado é necessário possuir um cartão ou token aderente a legislação da ICP-Brasil para armazenamento do Certificado Digital. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia (cartão ou token) é apta para emitir em nossos sistemas.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 213,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj3.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 1 ANO EM CARTÃO</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 em Cartão tem validade de 1 ano. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado digital. O Certificado Digital em cartão é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. IMPORTANTE: Para esse certificado é necessário possuir uma leitora de cartão inteligente compatível para seu uso.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 268,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj4.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 1 ANO EM CARTÃO + LEITORA</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 em Cartão + Leitora tem validade de 1 ano. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado digital. O Kit Certificado Digital em Cartão e Leitora é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. Acompanha leitora compatível para cartões inteligentes.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 408,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj5.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A-3 DE 1 ANO EM TOKEN</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 em Token tem validade de 1 ano. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado digital. O Certificado em token oferece ao usuário praticidade, fácil portabilidade e usabilidade, bastando conectá-lo na porta USB do computador.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 408,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj6.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 3 ANOS</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 tem validade de 3 anos. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado. IMPORTANTE: Para esse certificado é necessário possuir um cartão ou token aderente a legislação da ICP-Brasil para armazenamento do Certificado Digital. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia (cartão ou token) é apta para emitir em nossos sistemas.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 303,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj7.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 3 ANOS EM CARTÃO</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 em Cartão tem validade de 3 anos. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado. O Certificado Digital em cartão é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. IMPORTANTE: Para esse certificado é necessário possuir uma leitora de cartão inteligente compatível para seu uso.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 353,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="http://www.validcertificadora.com.br/imagens/produtos/grande/16.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">e-CNPJ  A3 de 3 anos em cartão + leitora</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CNPJ A3 em Cartão + Leitora tem validade de 3 anos. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado. O Kit Certificado Digital em Cartão e Leitora é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. Acompanha leitora compatível para cartões inteligentes.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 508,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="im1" title="E-CNPJ A1" href=""><img title="E-CNPJ A1" src="~/imagens/produtos/cnpj8.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CNPJ A3 DE 3 ANOS EM TOKEN</h3>
                                    <span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl09_lblDescricaoNormal">
                                        Esse certificado digital e-CNPJ A3 em Token tem validade de 3 anos. É indicado para identificar uma empresa através de seu representante legal perante a Receita Federal e busca uma solução completa para uso do certificado. O Certificado em token oferece ao usuário praticidade, fácil portabilidade e usabilidade, bastando conectá-lo na porta USB do computador.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 508,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 35,67</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
            @*----------------------------------------------------------------------------*@
            <!--#endregion -->
            <!--#region e-CPF  -->
            <div style="margin-left: 100px;">
                <div id="flip1"><span style="color: #387DA1; font-size: 16px; cursor:pointer;"><img src="~/imagens/produtos/click.png" />&nbsp;e-CPF</span></div>
                <div id="panel1">
                    @*height:30px; background-color: #387DA1;*@
                    @*<div></div>*@<div></div>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf1.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A1</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A1 tem validade de 1 ano. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. IMPORTANTE: Esse certificado é emitido e armazenado diretamente no computador do titular. É ideal para pessoas que desejam um certificado que tenha facilidade de uso, menor custo e portabilidade, uma vez que instalado no computador, depende de sua segurança contra uso e cópias indevidas.<br><br></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 143,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf2.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 1 ANO</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 tem validade de 1 ano. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. IMPORTANTE: Para esse certificado é necessário possuir um cartão ou token aderente a legislação da ICP-Brasil para armazenamento do Certificado Digital e deve ser levado para emissão. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia(cartão ou token) é apta para emitir em nossos sistemas. <br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 143,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf3.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 1 ANO EM CARTÃO</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 em Cartão tem validade de 1 ano. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O Certificado Digital em cartão é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. IMPORTANTE: Para esse certificado é necessário possuir uma leitora de cartão inteligente compatível para seu uso.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 203,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf4.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 1 ANO EM CARTÃO + LEITORA</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 em Cartão + Leitora tem validade de 1 ano. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O Kit Certificado Digital em Cartão e Leitora é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. Acompanha leitora compatível para cartões inteligentes.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 333,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf5.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 1 ANO EM TOKEN</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 em token tem validade de 1 ano. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O Certificado em token oferece ao usuário praticidade, fácil portabilidade e usabilidade, bastando conectá-lo na porta USB do computador.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 333,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf6.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 3 ANOS</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 tem validade de 3 anos. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. IMPORTANTE: Para esse certificado é necessário possuir um cartão ou token aderente a legislação de ICP-Brasil para armazenamento do Certificado Digital. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia (cartão ou token) é apta para emitir em nosso sistemas. <br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 213,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf7.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 3 ANOS EM CARTÃO</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 com cartão tem validade de 3 anos. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O certificado digital em cartão é ideal para quem pretender ter mais de um certificado em cartão e utilizará uma única leitora. IMPORTANTE: Para esse certificado é necessário possuir uma leitora de cartão compatível para seu uso.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 260,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf8.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 3 ANOS EM CARTÃO + LEITORA</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 em Cartão + Leitora tem validade de 3 anos. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O Kit Certificado Digital em Cartão e Leitora é ideal para quem pretende ter mais de um certificado digital em cartão e utilizará uma única leitora. Acompanha leitora compatível para cartões inteligentes.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 413,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/cpf9.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-CPF A3 DE 3 ANOS EM TOKEN</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital e-CPF A3 em token tem validade de 3 anos. É indicado para identificar uma pessoa física perante a Receita Federal e busca uma solução completa para uso do certificado. O Certificado em token oferece ao usuário praticidade, fácil portabilidade e usabilidade, bastando conectá-lo na porta USB do computador.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 413,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <!--#endregion -->
            <!--#region e-PJ  -->
            <div style="margin-left: 100px;">
                <div id="flip3"><span style="color: #387DA1; font-size: 16px; cursor:pointer;"><img src="~/imagens/produtos/click.png" />&nbsp;e-PJ</span></div>
                <div id="panel3">

                    <div></div>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/epj1.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-PJ A1</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">O certificado e-PJ A1 tem validade de 12 meses sendo armazenado diretamente no computador.
É indicado para garantir a identidade digital da sua empresa no processo de emissão de notas fiscais eletrônicas, possibilitando a emissão do Certificado Digital pessoas diferentes dos representantes legais de sua empresa registrados na Receita Federal.<br><br></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 213,00</span>
                                        <br>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/epj2.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-PJ A3 DE 1 ANO</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">O certificado e-PJ A3 de 1 ano é indicado para garantir a identidade digital da sua empresa no processo de emissão de notas fiscais eletrônicas, possibilitando a emissão do Certificado Digital pessoas diferentes dos representantes legais de sua empresa registrados na Receita Federal. IMPORTANTE: Para esse certificado é necessário possuir um cartão ou token aderente a legislação de ICP-Brasil para armazenamento do Certificado Digital. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia (cartão ou token) é apta para emitir em nosso sistemas.<br><br></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 213,00</span>
                                        <br>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/epj3.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">E-PJ A3 DE 3 ANOS</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">O certificado e-PJ A3 tem validade de 3 anos sendo armazenado em token ou cartão. Em caso de cartão é necessário possuir uma leitora compatível para cartões inteligentes. É necessário levar a mídia no momento da emissão do certificado.
É indicado para garantir a identidade digital da sua empresa no processo de emissão de notas fiscais eletrônicas, possibilitando a emissão do Certificado Digital pessoas diferentes dos representantes legais de sua empresa registrados na Receita Federal.<br><br></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 303,00</span>
                                        <br>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <!--#endregion -->
            <!--#region NF-e  -->

            <div style="margin-left: 100px;">
                <div id="flip2"><span style="color: #387DA1; font-size: 16px; cursor:pointer;"><img src="~/imagens/produtos/click.png" />&nbsp;NF-e</span></div>
                <div id="panel2">
                    @*height:30px; background-color: #387DA1;*@
                    @*<div></div>*@<div></div>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/nfe1.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">NFE A1</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado NF-e A1 tem validade de 1 ano . É indicado para empresas que precisam emitir e assinar notas fiscais eletrônicas e notas fiscais de consumidor eletrônicas, podendo indicar como titular do Certificado um funcionário que fará a emissão e assinatura dessas notas e buscam uma solução completa para uso do certificado digital. IMPORTANTE: Esse certificado é emitido e armazenado diretamente no computador do titular. É ideal para empresas que desejam um certificado que tenha facilidade de uso, menor custo e portabilidade, uma vez que instalado no computador, depende de sua segurança contra uso e cópias indevidas.<br><br></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 300,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/nfe2.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">NFE A3 DE 3 ANOS</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado NF-e A3 tem validade de 3 anos. É indicado para empresas que precisam emitir e assinar notas fiscais eletrônicas e notas fiscais de consumidor eletrônicas, podendo indicar como titular do Certificado um funcionário que fará a emissão e assinatura dessas notas e buscam uma solução completa para uso do certificado digital. IMPORTANTE: Para esse certificado é necessário possuir um cartão ou token aderente a legislação de ICP-Brasil para armazenamento do Certificado Digital. No momento da apresentação dos documentos, verifique com o Agente de Registro se a mídia (cartão ou token) é apta para emitir em nosso sistemas. <br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 493,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/nfe3.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">NFE A3 DE 3 ANOS EM CARTÃO</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital para NF-e A3 com cartão tem validade de 3 anos. É indicado para empresas que precisam emitir e assinar notas fiscais eletrônicas e notas fiscais de consumidor eletrônicas, podendo indicar como titular do Certificado um funcionário que fará a emissão e assinatura dessas notas e buscam uma solução completa para uso do certificado digital. O Certificado Digital em cartão é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. IMPORTANTE: Para esse certificado é necessário possuir uma leitora de cartão inteligente compatível para seu uso.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 543,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/nfe4.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">NFE A3 DE 3 ANOS EM CARTÃO + LEITORA</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital NF-e A3 com cartão + leitora tem validade de 3 anos. É indicado para empresas que precisam emitir e assinar notas fiscais eletrônicas e notas fiscais de consumidor eletrônicas, podendo indicar como titular do Certificado um funcionário que fará a emissão e assinatura dessas notas e buscam uma solução completa para uso do certificado digital. O Kit Certificado Digital em Cartão e Leitora é ideal para quem pretende ter mais de um Certificado Digital em cartão e utilizará uma única leitora. Acompanha leitora compatível para cartões inteligentes.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 693,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0">
                        <tr>
                            <div style="width:900px; clear: both; background: url(/imagens/layout/separador_x.jpg) repeat-x 0 0; overflow: hidden; padding: 5px 0;"></div>
                            <td>
                                <a id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_hlkImgProduto" title="e-CNPJ  A3 de 3 anos em cartão + leitora" href="http://www.validcertificadora.com.br/e-CNPJ-A3-de-3-anos-em-cartao-leitora.htm"><img title="e-CNPJ  A3 de 3 anos em cartão + leitora" src="~/imagens/produtos/nfe5.jpg" style="border-width:0px;"></a>
                            </td>
                            <td>
                                <div style="width:550px; font: 11px Tahoma, Geneva, sans-serif; color: #7c7a7a; line-height: 11px;">
                                    <h3 style="font: 18px 'UniversLTStd55Roman', Tahoma, Geneva, sans-serif; color: #0a4166; margin: 10px 0 3px; line-height: 18px;">NFE A3 DE 3 ANOS EM TOKEN</h3>
                                    <p><span id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblDescricaoNormal">Esse certificado digital NF-e A3 em token tem validade de 3 anos. É indicado para empresas que precisam emitir e assinar notas fiscais eletrônicas e notas fiscais de consumidor eletrônicas, podendo indicar como titular do Certificado um funcionário que fará a emissão e assinatura dessas notas e buscam uma solução completa para uso do certificado digital. O Certificado em token oferece ao usuário praticidade, fácil portabilidade e usabilidade, bastando conectá-lo na porta USB do computador.<br><br><font color="#097a96">IMPORTANTE: VERIFIQUE A COMPATIBILIDADE DOS SISTEMAS OPERACIONAIS COM OS DISPOSITIVOS DE ARMAZENAMENTO, NA ÁREA DE ESPECIFICAÇÕES LOCALIZADA ABAIXO NESTA PÁGINA.</font></span></p>
                                </div>
                            </td>
                            <td>
                                <div class="boxPreco">
                                    <p class="preco">
                                        <br>
                                        <br>
                                        <span style="font: bold 16px Tahoma, Geneva, sans-serif; color: #047994;" id="ctl00_ContentPlaceHolder2_rptCatNormal_ctl01_lblPrecoPor" class="pValor">R$ 693,00</span>
                                        <br>
                                        @*<span style="font: 12px Tahoma, Geneva, sans-serif; color: #047994;">em 6 x de R$ 88,33</span>*@
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
            <!--#endregion -->
        </div>
        <div style="height:2px; background-color: #387DA1;"></div>
    </form>
</body>
</html>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/Views/Home/index.js"></script>
}