﻿
<html>
<head>
    <title>Security Key</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/Scripts/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/Scripts/script.js"></script>
    <link rel="shortcut icon" href="~/imagens/iconSecurity.ico" title="Favicon" />
    <style type="text/css">
        /*#bkImg {
            background-image: url(../../imagens/Fundo2frf.png);
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -khtml-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
        }*/

        body {
            font-family: sans-serif;
            background-color: #fff;
        }

        .mensagemRodape {
            font: bold 12px arial;
            color: #333333;
            float: right;
            padding-top: 5px;
        }
        /*altera a fonte padrão (opcional)*/
        #topo {
            background: #ffffff;
            position: fixed;
            width: 100%;
            height: 50px;
            /*padding-top: 10px;*/
            padding-bottom: 0px;
            top: 0;
            left: 0;
        }

        .container {
            width: 85%;
            margin: auto;
        }

        /*nav {
            float: right;
            color: #143E5B;
        }*/
        /*alinha o menu a direita*/
        /*nav ul li {
                display: inline;
                margin-left: 30px;
                padding-top: 15px;
            }*/
        /*menu em linha e espaço entre os itens*/

        .rodape {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px; /* Mesma Altura do Rodapé */
            /*background: #6cf;*/
            background: #fff;
        }

        .minhasredes3 {
            /*padding: 15px;*/
        }

            .minhasredes3 a {
                -webkit-transition: All 1s ease;
                -moz-transition: All 1s ease;
                opacity: 0.5;
            }

                .minhasredes3 a:hover {
                    opacity: 1;
                }

            .minhasredes3 img {
                -webkit-transition: All 0.2s ease;
                -moz-transition: All 0.2s ease;
            }

        #social {
            /*margin: 15px 0 5px -15px;*/
            width: 300px;
            height: 40px;
            text-align: center;
        }

            #social img {
                margin-left: 3px;
                margin-right: 3px;
            }

                #social img:hover {
                    opacity: 0.6;
                }

        .nomeProduto {
            font: bold 17px tahoma,arial;
            color: white;
            padding-top: 10px;
            margin-left: 10px;
        }

        .imgProduto img {
            padding-top: 10px;
            width: 180px;
        }

        .descricaoProduto {
            padding-top: 10px;
            font: 12px tahoma,arial;
            color: white;
            height: 35px;
            margin-left: 5px;
        }

        .hr {
            background-color: white;
            width: 2px;
            height: 150px;
            float: left;
        }

        .btn {
            display: inline-block;
            padding: 8px 14px;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 3px;
            transition: all, 0.5s;
            -webkit-transition: all, 0.5s;
            -o-transition: all, 0.5s;
        }

        .btn-primary {
            background-color: #387DA1;
            border-color: #00a59c !important;
            color: #ffffff;
        }

        input, button, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

            button, html input[type="button"], input[type="reset"], input[type="submit"] {
                -webkit-appearance: button;
                cursor: pointer;
            }

        button, select {
            text-transform: none;
        }

        button {
            overflow: visible;
        }

        button, input, optgroup, select, textarea {
            margin: 0;
            font: inherit;
            color: inherit;
        }

        .form-control {
            width: 300px;
        }

        .form-control-DD {
            width: 20px;
        }
    </style>
    <script>
        function fone() {
            if (document.frm.fone.value.length == 0) {
                document.frm.fone.value = "(" + document.frm.fone.value;
            }
            if (document.frm.fone.value.length == 4) {
                document.frm.fone.value = document.frm.fone.value + ")";
            }
            if (document.frm.fone.value.length == 9) {
                document.frm.fone.value = document.frm.fone.value + "-";
            }
        }

        $(function () {
            $(".data").mask("99/99/9999", { placeholder: " " });
            $(".rg").mask("99.999.999-9", { placeholder: " " });
            $(".cpf").mask("999.999.999-99", { placeholder: " " });
            $(".fone").mask("(99) 9999-9999", { placeholder: " " });
            $(".cnpj").mask("99.999.999/9999-99", { placeholder: " " });
        });
    </script>
</head>

<body>
    <form id="frm" runat="server">
        <div style="height:2px; background-color: #387DA1;"></div>
        <div style="width:1250px; height:610px;">
            @*<table style="margin-left:10px; margin-top: 10px;">
                    <tr>

                    </tr>
                </table>*@
            <div style="margin-left: 100px;">
                @*height:30px; background-color: #387DA1;*@
                <div><h2 style="color: #387DA1;">A Security Key</h2></div>
                <div style="font: 14px tahoma,arial; color: #3E3E3E; line-height: 23px; text-align: justify;">
                    <p>
                        Com o objetivo de oferecer ao mercado soluções rápidas e seguras, surge no mercado a Security Key, empresa especializada em certificação digital.
                    </p>
                    <p>
                        A Security Key está pronta para atender suas necessidades com rapidez, agilidade e segurança. Conta como uma equipe treinada para prestar consultoria<br /> na escolha da melhor solução para você e sua empresa.
                    </p>
                    <p>
                        A presente proposta tem por objeto apresentar, em caráter estimativo, as condições para a prestação de serviços de emissão de certificados digitais <br />do tipo A1 e A3 emitidos sob a hierarquia da ICP-Brasil.
                    </p>
                </div>
            </div>
        </div>
        <div style="height:2px; background-color: #387DA1;"></div>
    </form>
</body>
</html>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/Views/Home/index.js"></script>
}